<a href="https://colab.research.google.com/github/syedmujeeb-design/2025-2026-4089-Mujeeb-AI-B-DS/blob/main/10_2_26.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {
    "Name": ["Alice", "Bob", "Charlie", "David"],
    "Age": [22, 25, 30, 28],
    "Marks": [85, 90, 78, 88]
}

df = pd.DataFrame(data)

print("Full Data:")
print(df)
print("\n------------------\n")

print("Select Age column:")
print(df["Age"])
print("\n------------------\n")

print("Select Name and Marks columns:")
print(df[["Name", "Marks"]])
print("\n------------------\n")

print("Students with Marks > 80:")
print(df[df["Marks"] > 80])
print("\n------------------\n")
print("Names and Marks where Age > 23:")
print(df.loc[df["Age"] > 23, ["Name", "Marks"]])

Full Data:
      Name  Age  Marks
0    Alice   22     85
1      Bob   25     90
2  Charlie   30     78
3    David   28     88

------------------

Select Age column:
0    22
1    25
2    30
3    28
Name: Age, dtype: int64

------------------

Select Name and Marks columns:
      Name  Marks
0    Alice     85
1      Bob     90
2  Charlie     78
3    David     88

------------------

Students with Marks > 80:
    Name  Age  Marks
0  Alice   22     85
1    Bob   25     90
3  David   28     88

------------------

Names and Marks where Age > 23:
      Name  Marks
1      Bob     90
2  Charlie     78
3    David     88

In [2]:
import pandas as pd

# Create sample data
data = {
    "Name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "Age": [22, 25, 30, 28, 21],
    "Marks": [85, 90, 78, 88, 92],
    "City": ["NY", "LA", "NY", "Chicago", "LA"]
}

df = pd.DataFrame(data)

print("Original Data:")
print(df)
print("\n--------------------\n")

filtered_marks = df[df["Marks"] > 85]
print("Marks > 85:")
print(filtered_marks)
print("\n--------------------\n")

filtered_age = df[df["Age"] >= 25]
print("Age >= 25:")
print(filtered_age)
print("\n--------------------\n")

filtered_multiple = df[(df["Marks"] > 85) & (df["City"] == "LA")]
print("Marks > 85 AND City = LA:")
print(filtered_multiple)
print("\n--------------------\n")

filtered_or = df[(df["City"] == "NY") | (df["Age"] < 23)]
print("City = NY OR Age < 23:")
print(filtered_or)
print("\n--------------------\n")
filtered_isin = df[df["City"].isin(["LA", "Chicago"])]
print("City in LA or Chicago:")
print(filtered_isin)

Original Data:
      Name  Age  Marks     City
0    Alice   22     85       NY
1      Bob   25     90       LA
2  Charlie   30     78       NY
3    David   28     88  Chicago
4      Eva   21     92       LA

--------------------

Marks > 85:
    Name  Age  Marks     City
1    Bob   25     90       LA
3  David   28     88  Chicago
4    Eva   21     92       LA

--------------------

Age >= 25:
      Name  Age  Marks     City
1      Bob   25     90       LA
2  Charlie   30     78       NY
3    David   28     88  Chicago

--------------------

Marks > 85 AND City = LA:
  Name  Age  Marks City
1  Bob   25     90   LA
4  Eva   21     92   LA

--------------------

City = NY OR Age < 23:
      Name  Age  Marks City
0    Alice   22     85   NY
2  Charlie   30     78   NY
4      Eva   21     92   LA

--------------------

City in LA or Chicago:
    Name  Age  Marks     City
1    Bob   25     90       LA
3  David   28     88  Chicago
4    Eva   21     92       LA

In [3]:
import pandas as pd
data = {
    "Name": ["Alice", "Bob", "Charlie"],
    "Age": [22, 25, 30],
    "Marks": [85, 90, 78]
}

df = pd.DataFrame(data)

df["Result"] = df["Marks"].apply(lambda x: "Pass" if x >= 80 else "Fail")

df["Age"] = df["Age"] + 1

passed_students = df[df["Result"] == "Pass"]

print("Updated Data:")
print(df)
print("\nPassed Students:")
print(passed_students)

Updated Data:
      Name  Age  Marks Result
0    Alice   23     85   Pass
1      Bob   26     90   Pass
2  Charlie   31     78   Fail

Passed Students:
    Name  Age  Marks Result
0  Alice   23     85   Pass
1    Bob   26     90   Pass

In [4]:
import pandas as pd

# Sample data
data = {
    "Department": ["IT", "IT", "HR", "HR", "Sales"],
    "Employee": ["A", "B", "C", "D", "E"],
    "Salary": [50000, 60000, 45000, 48000, 55000]
}

df = pd.DataFrame(data)

# Group by Department and calculate average salary
grouped_data = df.groupby("Department")["Salary"].mean()

print(grouped_data)

Department
HR       46500.0
IT       55000.0
Sales    55000.0
Name: Salary, dtype: float64

In [5]:
def selection_sort(arr):
    n = len(arr)
    for i in range(n):
        min_index = i
        for j in range(i + 1, n):
            if arr[j] < arr[min_index]:
                min_index = j
        arr[i], arr[min_index] = arr[min_index], arr[i]
    return arr

# Example
numbers = [64, 25, 12, 22, 11]
print(selection_sort(numbers))

[11, 12, 22, 25, 64]

In [6]:
def bubble_sort(arr):
    n = len(arr)
    for i in range(n):
        for j in range(0, n - i - 1):
            if arr[j] > arr[j + 1]:
                arr[j], arr[j + 1] = arr[j + 1], arr[j]
    return arr

# Example
numbers = [64, 34, 25, 12, 22]
print(bubble_sort(numbers))

[12, 22, 25, 34, 64]

In [8]:
def linear_search(arr, key):
    for i in range(len(arr)):
        if arr[i] == key:
            return i   # element found at index i
    return -1          # element not found

# Example
numbers = [10, 20, 30, 40, 50]
key = 30

result = linear_search(numbers, key)

if result != -1:
    print("Element found at index", result)
else:
    print("Element not found")

Element found at index 2

In [9]:
def binary_search(arr, key):
    low = 0
    high = len(arr) - 1

    while low <= high:
        mid = (low + high) // 2
        if arr[mid] == key:
            return mid
        elif arr[mid] < key:
            low = mid + 1
        else:
            high = mid - 1

    return -1

# Example (sorted list)
numbers = [10, 20, 30, 40, 50]
key = 40

result = binary_search(numbers, key)

if result != -1:
    print("Element found at index", result)
else:
    print("Element not found")

Element found at index 3